body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color:red;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color:#555;
    color:black;
    padding: 10px;
    text-align: center;
}

nav a {
    color:azure;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

}